.App {
  text-align: center;
}

.App-header {
  background-color: #40790e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: white;
}

button {
  background-color: rgb(20, 20, 52);
  color: white;
  font-size: xx-large;
  border: 2px solid rgb(20, 20, 52);
  border-radius: 100px;
  padding: 20px;
}

button i {
  color: rgb(164, 164, 223);
}

.App-header input {
  background: none;
  padding: 12px;
  font-size: large;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}

.WeaponButton {
  font-size: 180px;
  margin: 10px;
  border-radius: 500px;
  width: 250px;
}
